[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/nest-microservices-roger/client-gateway.git
[submodule "products-microservice"]
	path = products-microservice
	url = https://github.com/nest-microservices-roger/products-microservice.git
[submodule "orders-microservice"]
	path = orders-microservice
	url = https://github.com/nest-microservices-roger/orders-microservice.git
[submodule "payments-microservice"]
	path = payments-microservice
	url = https://github.com/nest-microservices-roger/payments-microservice.git
